<!-- Cool smile favicon - high priority for Safari -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<link rel="icon" type="image/png" href="favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
<link rel="apple-touch-icon" href="favicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="favicon.png">
<link rel="shortcut icon" href="favicon.png">
<link rel="manifest" href="data:application/json,{&quot;name&quot;:&quot;Zipeng Ling&quot;,&quot;short_name&quot;:&quot;ZPLing&quot;,&quot;icons&quot;:[{&quot;src&quot;:&quot;favicon.svg&quot;,&quot;sizes&quot;:&quot;192x192&quot;,&quot;type&quot;:&quot;image/svg+xml&quot;},{&quot;src&quot;:&quot;favicon.svg&quot;,&quot;sizes&quot;:&quot;512x512&quot;,&quot;type&quot;:&quot;image/svg+xml&quot;}],&quot;theme_color&quot;:&quot;#FFFFFF&quot;,&quot;background_color&quot;:&quot;#FFFFFF&quot;,&quot;display&quot;:&quot;standalone&quot;}">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="favicon.svg">
<meta name="msapplication-config" content="data:application/xml,<browserconfig><msapplication><tile><square150x150logo src='favicon.svg'/><TileColor>#000000</TileColor></tile></msapplication></browserconfig>">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
